<div class="row">
  <div class="col-md-6">
    <h1 class = "saleBook"> Last books on sale </h1>
  </div>
  <div class="col-md-6">
    <h1 class = "buyBook"> People are looking for </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
    <%= render 'slide_show_1' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
    <%= render 'slide_show_2' %>
    </div>
  </div>
</div>